*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    color: white;
    text-shadow: 1.5px 1.5px #676767 ;
    background-image: url(https://wallpapercave.com/wp/wp4486549.jpg);
    background-size: 100%;
    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}

:root{
    --calc_color: rgb(244, 255, 179);
    --screen_color: rgba(174, 254, 254, 0.8);
    --button_number_color: rgb(255, 178, 44);
    --button_operator_color: rgba(255, 233, 40);
    --button_C_color: rgb(240, 74, 66);
}


.calculator{
    width: 285px;
    height: 300px;
    display: grid;
    margin: 10% auto;
    padding: 7px;
    border: 3px solid #333;
    background-color: var(--calc_color);
    font-size: 25px;
    border-radius: 15px;
    gap: 10px;
    box-shadow: 3px 3px 3px ;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

#screen{
    grid-column: 2/9;
    grid-row: 1/3;
    background-color: var(--screen_color);
    border-radius: 15px;
    border: 3px solid #333;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px #d1d1d1;
    display: block;
    text-align: right;
    font-weight: 500;
    color: rgb(70, 70, 70);
    font-size: large;
}


.button{
    text-decoration: none;
    outline: none;
    grid-column-start: span 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border: 0;
    color: white;
    box-sizing: border-box;
    text-align: center;
    align-content: space-around;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #4b4b4b;
}

.button:active{
    opacity: 0.8;
    box-shadow: 2px 2px 2px #388eff
}

.button_C{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--button_C_color); 
    border-radius: 12px 5px 5px 12px;
}

.button_number{
    background-color: var(--button_number_color);
}

.button_operator{
    background-color: var(--button_operator_color);
}

.button_operator--equal{
    box-shadow: 2px 2px 5px rgb(108, 108, 255);
    background-size: cover;
    color: rgb(231, 255, 253);
    text-shadow: 3px 3px 3px #8f908f;
}
